<h2 class="text-center mb-5">投稿一覧</h2>

<div class="container py-5">
  <div class="row -eq-height">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img src="<%= %>" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title"><%= post.store_name %></h5>
              <p class="card-text"><%= link_to(post.content, "/posts/#{post.id}") %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


