<h2 class="text-center mb-5">投稿一覧</h2>

<div class="container py-5">
  <div class="row -eq-height">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
        <!-- 画像からも詳細ページに飛べるようにする -->
          <% if post.image.present? %>
            <%= link_to image_tag(post.image_url, :size =>'288x200'), "/posts/#{post.id}" %>
          <% else %>
            <%= link_to image_tag('default.png', :size =>'288x200'), "/posts/#{post.id}" %>
          <% end %>
          <div class="card-body">
              <h5 class="card-title"><%= link_to(post.store_name, "/posts/#{post.id}") %></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <% if post.wifi == "yes" %>
                  <i class="fas fa-wifi"></i>
                <% end %>
                <% if post.power == "yes" %>
                  <i class="fas fa-plug"></i>
                <% end %>
                <% if post.creditcard == "yes" %>
                  <i class="far fa-credit-card"></i>
                <% end %>
              </h6>
              <p class="card-text"><%= post.content %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


