// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@charset "UTF-8";

.top {
  background-image: url(./dani-ZLqxSzvVr7I-unsplash.jpg);
  background-size: contain;
  height: 500px;
  background-position-x: center;
  background-repeat: no-repeat;
}
